<!-- ================= Footer Section ================= -->
<footer class="bg-tertiarycolor py-10 px-3 px-sm-5">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6 col-lg-4">
                <h4 class="pb-2 footer-brand">ExamNation</h4>
                <p>
                    <strong>@ExamEase.Resources.HomePageResource.Email</strong>: Examnation@outlook.com<br>
                </p>
                <div>
                    &copy; Copyright @(DateTime.UtcNow.Year) ExamNation. All Rights Reserved.
                </div>
            </div>
            
            <div class="col-md-6 col-lg-3 pt-md-4 pt-lg-0">
                <h4 class="footer-title pb-2">@ExamEase.Resources.HomePageResource.FollowUs</h4>
                <p class="mb-4">@ExamEase.Resources.HomePageResource.FollowUsDescription</p>
                <a href="https://www.instagram.com/" target="_blank" class="rounded-circle bg-secondarycolor color-white p-2 text-center hover-color-white border-0 hover-bg-primarycolor"><i class="fa-brands fa-instagram wh-20"></i></a>
                <a href="https://www.youtube.com/" target="_blank" class="rounded-circle bg-secondarycolor color-white p-2 text-center hover-color-white border-0 hover-bg-primarycolor"><i class="fa-brands fa-youtube wh-20"></i></a>
                <a href="https://localhost:44327/" target="_blank" class="rounded-circle bg-secondarycolor color-white p-2 text-center hover-color-white border-0 hover-bg-primarycolor"><i class="fa-solid fa-globe wh-20"></i></a>
            </div>
        </div>
    </div>
</footer>
